<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Connect Us</a>
        </button>
        <div class="collapse navbar-collapse font_specs" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar_elements" style="position: absolute; right: 20px;">
            <a class="nav-link active" aria-current="page" style = "margin-left: 25px;" href="/dashboard">Dashboard</a>
            <a class="nav-link active" href="#Instructions" style = "margin-left: 25px;">Instruction</a>
            <a class="btn btn-danger" href="/logout" style = "margin-left: 25px;">Logout</a>
        </div>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style = "height : 56px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../images/Connect_Us.png" style = "position: absolute; height:120px; top : -13px;" alt="Connect Us"></a>
        <div class="collapse navbar-collapse font_specs" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar_elements" style="position: absolute; right: 20px;">
            <a class="nav-link active" aria-current="page" style = "margin-left: 25px; color:white" href="/dashboard">Dashboard</a>
            <a class="nav-link active" href="#Instructions" style = "margin-left: 25px; color: white;">Instructions</a>
            <a class="btn btn-danger" href="/logout" style = "margin-left: 25px; color : white;">Logout</a>
        </div>
        </div>
    </div>
</nav>