<section class="showcase" style="text-align: center; padding-top: 50px; padding-bottom: 50px;" id="Features">
    <h1 class="mb-5">Features</h1> 
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-md-6 showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/authentication.png" 
                    alt="authentication" />
                <h2>Authentication</h2>
                <p class="lead mb-0">Only authenticated users with a valid IIT JMU or a Gmail Account can use Dashboard to connect with other authenticated users.</p>
            </div>
            <div class="col-md-6 showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/security.png" 
                    alt="security" />
                <h2>Security</h2>
                <p class="lead mb-0">All Meetings are secured with end to end encryption done using WebRTC (P2P).</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/browser.png" 
                    alt="browser" />
                <h2>Browser Based</h2>
                <p class="lead mb-0">Authenticated users can Join/ Host Instant Meetings using their Web Browsers without downloading any plug-in or application.</p>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/collaboard.png" 
                    alt="collaboard" />
                <h2>Collaboard</h2>
                <p class="lead mb-0">Meeting pariticipants can collaborate using whiteboard to draw and exchange ideas with other participants at the same time.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/screenshare.png" 
                    alt="screenshare" />
                <h2>Screen Sharing</h2>
                <p class="lead mb-0">Meeting participants can share their screen with other participants to present documents, slides and more.</p>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/meetrecord.png" 
                    alt="meetrecord" />
                <h2>Meeting Recording</h2>
                <p class="lead mb-0">Meeting participants can record their Screen, WebCam, Audio and even download it to use for future use.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/onlinechat.png" 
                    alt="onlinechat" />
                <h2>Online Chat</h2>
                <p class="lead mb-0">Meeting participants can chat using text and emoji with other participants (private/ public) and can download the chat for future use.</p>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <img 
                    class="img-fluid mb-3"
                    style="width: 15%;" 
                    src="../images/fileshare.png" 
                    alt="fileshare" />
                <h2>File Sharing</h2>
                <p class="lead mb-0">Meeting participants can share any types of files with other participants with secured connection using DTLS.</p>
            </div>
        </div>
    </div>
</section>