<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm text-lg-start"> 
                <p class="text-muted">Made with ❤️ using WebRTC</p>
            </div>
            <div class="col-sm text-lg-center">
                <p class="text-muted">&copy; Connect Us @ IIT JMU, 2022. All Rights Reserved.</p>
            </div>
            <div class="col-sm text-lg-end">
                <p class="text-muted">Find us on <a target="_blank" href="https://github.com/umesh72614/video-conference-webapp"><i class="bi-github fs-4"></i></a></p>
            </div>
        </div>
    </div>
</footer>