<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Connect Us</a>
        <div class="collapse navbar-collapse font_specs" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar_elements" style="position: absolute; right: 20px;">
            <a class="nav-link active" aria-current="page" style = "margin-left: 25px;" href="#section1">Home</a>
            <a class="nav-link active" href="#Instructions" style = "margin-left: 25px;">Instruction</a>
            <a class="nav-link active" href="#AboutUS" style = "margin-left: 25px;">About</a>
        </div>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style = "height : 56px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../images/Connect_Us.png" style = "position: absolute; height:120px; top : -13px;"></a>
        <div class="collapse navbar-collapse font_specs" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar_elements" style="position: absolute; right: 20px;">
            <a class="nav-link active" aria-current="page" style = "margin-left: 25px; color : white;" href="/">Home</a>
            <a class="nav-link active" href="#Instructions" style = "margin-left: 25px; color : white;">Instructions</a>
            <a class="nav-link active" href="#Features" style = "margin-left: 25px; color : white;">Features</a>
            <a class="nav-link active" href="#Team" style = "margin-left: 25px; color : white;">Team</a>
        </div>
        </div>
    </div>
</nav>