<!-- <section class="testimonials text-center bg-light" id="section3"> -->
<section class="testimonials text-center bg-dark" id="Team" style = "color:white;">
    <div class="container">
        <h2 class="mb-5">Meet the Developers</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img 
                    class="img-fluid rounded-circle mb-3" 
                    src="https://lh3.googleusercontent.com/a-/AOh14GiX0vJktd4oj95Qt58J7qxBOPnil7fO4xBSq6e6sg=s96-c" 
                    alt="Umesh Yadav" />
                    <h5>Umesh Yadav</h5>
                    <p class="font-weight-light mb-0">SDE Intern @ Komprise</p>
                    <ul class="list-inline mb-0 items-center" style="margin-top: 5px;">
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="mailto:umesh72614@gmail.com"><i class="bi-envelope-open-fill fs-5" style="color: white;"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="https://linkedin.com/in/umesh72614"><i class="bi-linkedin fs-5" style="color: white;"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="https://github.com/umesh72614"><i class="bi-github fs-5" style="color: white;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" 
                    src="https://lh3.googleusercontent.com/a-/AOh14GhnawVniTmeUTxFsmm4zpww8SaiCn8jJvyNyWjnIw=s96-c" 
                    alt="Aryaman Mishra" />
                    <h5>Aryaman Mishra</h5>
                    <p class="font-weight-light mb-0">SDE Intern @ Samsung</p>
                    <ul class="list-inline mb-0 items-center" style="margin-top: 5px;">
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="mailto:aryamanmishra90@gmail.com"><i class="bi-envelope-open-fill fs-5" style="color: white;"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="https://www.linkedin.com/in/aryaman-mishra-a3360a16b"><i class="bi-linkedin fs-5" style="color: white;"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="https://github.com/aryaman0098"><i class="bi-github fs-5" style="color: white;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img 
                    class="img-fluid rounded-circle mb-3" 
                    src="https://lh3.googleusercontent.com/a/AATXAJzVbQ-Ebd6HpdAw8Go5xFLhKZPGjQw1lTaiSwjL=s96-c" 
                    alt="Jatin Tomar" />
                    <h5>Jatin Tomar</h5>
                    <p class="font-weight-light mb-0">SDE Intern @ nference</p>
                    <ul class="list-inline mb-0 items-center" style="margin-top: 5px;">
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="mailto:jatintomar660@gmail.com"><i class="bi-envelope-open-fill fs-5" style="color: white;"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="https://www.linkedin.com/in/jatin-tomar-660b"><i class="bi-linkedin fs-5" style="color: white;"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a target="_blank" href="https://github.com/jatintomar660"><i class="bi-github fs-5" style="color: white;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>